{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}
{% block title %}patient{% endblock title %}

{% block container %}
    <div class="col-md-12">
        <div class="card mg-b-20">
            <div class="card-body">
                <div class="main-content-label mg-b-5">
                    Monthly patient chart
                </div>
                <p class="mg-b-20">Total_patient_count</p>
                <div class="ht-300 ht-sm-300" id="custommercount"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header pb-0">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mg-b-0">This mont custommer count and income</h4>
                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                </div>
                <p class="tx-12 tx-gray-500 mb-2">brief report of customers and income</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mg-b-0 text-md-nowrap">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>{{label}} patient count </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for value in values %}
                                <tr>
                                    <td>{{value.dt}}</td>
                                    <td>{{value.service}}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock container %}
{% block scripts %}
    <!-- Internal Flot js -->
    <script src="{% static 'assets/plugins/jquery.flot/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery.flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery.flot/jquery.flot.resize.js' %}"></script>
    <!-- Internal Select2 js-->
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
    <!-- Internal Chart flot js -->
    



    <script>
        $(function() {
            'use strict';
            var service = [];
            {% for value in values %}
                service.push([{{value.day}},{{value.service}}]);
            {% endfor %}

            var plot = $.plot($('#custommercount'), [{
                data: service,
                label: '{{label}}',
                color: '#007bff'
            }], {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2
                    },
                    shadowSize: 0
                },
                points: {
                    show: false,
                },
                legend: {
                    noColumns: 1,
                    position: 'nw'
                },
                grid: {
                    borderWidth: 1,
                    borderColor: 'rgba(171, 167, 167,0.2)',
                    hoverable: true
                },
                yaxis: {
                    min: 0,
                    
                    color: '#eee',
                    tickColor: 'rgba(171, 167, 167,0.2)',
                    font: {
                        size: 10,
                        color: '#999'
                    }
                },
                xaxis: {
                    color: '#eee',
                    tickColor: 'rgba(171, 167, 167,0.2)',
                    font: {
                        size: 10,
                        color: '#999'
                    }
                }
            });

        
            function labelFormatter(label, series) {
                return '<div style="font-size:8pt; text-align:center; padding:2px; color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
            }
        });
    </script>
{% endblock scripts %}

